altgraph==0.17.5
black==25.9.0
certifi==2025.10.5
click==8.3.0
coin==0.23
macholib==1.16.4
modulegraph==0.19.7
mypy_extensions==1.1.0
nodeenv==1.9.1
nodejs-wheel-binaries==22.20.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
PuLP==3.3.0
py2app==0.28.9
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2025.11
pyoxidizer==0.24.0
pyright==1.1.406
PySide6==6.9.3
PySide6_Addons==6.9.3
PySide6_Essentials==6.9.3
pytokens==0.2.0
setuptools==80.9.0
shiboken6==6.9.3
typing_extensions==4.15.0
urllib3==1.7.1
